[submodule "DengueBiomarkers/reveal.js"]
	path = DengueBiomarkers/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "STAR_Berkeley/reveal.js"]
	path = STAR_Berkeley/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "STAR_Butte_Lab/reveal.js"]
	path = STAR_Butte_Lab/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "STAR_Network/reveal.js"]
	path = STAR_Network/reveal.js
	url = https://github.com/hakimel/reveal.js.git
